.prueba {
    background-color: black;
    padding: 0;
    margin: 0;
    height: 1300px;   
}

.white {
    color: white;   
}

.titulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-shadow: 1px 0px 1px black, -1px 0px 1px black, 0px 1px 1px black, 0px -1px 1px black ;
}

.link{
    text-decoration: none;
    text-shadow: 1px 0px 1px white, -1px 0px 1px white, 0px 1px 1px white, 0px -1px 1px white ;
}

.first-navbar{
    background: #C50707;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.crear{
    height: 40px;
    width: 150px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 7px;
    background-color: black;
    color: #C50707;
    border-radius: 5px;
    cursor: pointer;
}

.reset{
    height: 40px;
    width: 150px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background: black;
    color:#C50707;
    border-radius: 10px;
    border:#C50707 solid 3px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 10px;
    position:relative;
    left: 0.5% 

}


.orden{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 20px;
    position:relative;
    margin: 50px;
    left: 50px ;     
}

.filter{
    background-color: black;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border: solid 1px white;
    border-radius: 10px;
    margin-top: 12px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    
}

.filt-bar{
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.loading-pikachu{
    position:absolute;
    left: 30%;
    
     

}

/* @media screen and (max-width: 500px){
    .loading-charmander{
        border: solid 5px
    }
} */