/* * {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
  } */

.img{
    background-image: url('https://images7.alphacoders.com/592/592678.jpg');
    /* background-image: url('https://c.tenor.com/8sTMqGWjYAQAAAAC/ball-pokemon.gif'); */
    /* height: 800px;
    width: 800px; */
    margin: 0;
    padding: 0;
    height: 880px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;   
}

.text{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-shadow: 2px 0px 2px black, -2px 0px 2px black, 0px 2px 2px black, 0px -2px 2px black ;
    font-size: 19px;
    background-color: rgba(0, 0, 0, 0.534);
    border-style:groove;
    border-radius: 5px;
    height: 130px;
    width: 750px;
  }


.button{
    height: 30px;
    width: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(0, 128, 0, 0.973);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
          
}

.button:hover{
    background-color: rgba(255, 255, 255, 0.952);
    color: green;
    border: solid 2px green
    
}